


.cardList{
    background-color: lightGrey;
    padding: 5px 2px;
    width: 170px;
    
}

.cardList > h3 {
    color: black;
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    margin: 0;
    padding: 0.5em 0;
}

.gameboard {
    border: solid dimgray 2px;
    display: block;
    margin: 0 auto;
    max-width: 50em;
    min-width: 675px;
    padding: 1em;
}

.gameboard-playArea{
    border: solid darkgrey 2px;
    display: flex;
    max-width: 60em;
}

.gameboard-accusationBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2 0 20%;
}

.accusationBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.dropdowns{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.cardSelector-dropdown{
    margin-bottom: 5px;
    margin-top: 5px;
}

.gameboard-cardList{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 600px;
}


.gameboard-top{
    display: flex;

}

.timerBox {
    margin-left: auto;
    margin-right: 1em;
    width: 5em;
    height: fit-content;
    text-align: center;
    justify-content: flex-end;
    background-color: white;
    color: black;
    font-size: 2em;
}

#minutes{
    color: black;
    font-size: 1em;
}

#seconds{
    color: black;
    font-size: 1em;
}