
body {font-family: Arial;}

.react-tabs__tab--selected{
    color: black;
    background: rgba(255, 255, 255, 0);
}

.Tab{
    color: white;
}

.container {
    width: 600px;
    font-size: 120%;

}

.biggerContainer {
    display: flex;
    justify-content: center;
    padding: 5em 2em;
    margin-bottom: 5em;
}

ul, li {
    color: white;
}

.textBox li{
    font-weight: lighter;
}