
.small{ 
    text-align: left;
    margin: 10px 15px 10px 10px;
}

#email {
    width: 100%;
}

.form--login > h1 {
    text-align: center;
    letter-spacing: 50px;
    font-size: 4em;
    font-weight: lighter;
    

    margin: 0 0 0 0;
    
}

fieldset{
    border: none;
    padding: 0;
}

.fieldset-container {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    border: solid whitesmoke 2px;
    margin: 0;
}

.form--register > h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 1em;
}

.form-control{
    margin-top: 5px;
    width: 100%;
}

.container--login{
    position: relative;
    display: block;
    width: 20em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

.container--register{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.link--register {
    text-align: center;
    margin-top: 8px;
}
